@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00769c;
  --secondary: #02a7c3;
  --tertiary: #25454d;
  --quaternary: #e5e7eb;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.custom-rounded {
  border-radius: 50px 0 50px 0;
}

/* scroll bar  start */
.custom-scrollbar {
  overflow: hidden;
  transition: overflow 0.5s;
}

.custom-scrollbar:hover {
  overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(#6d28d9, green);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 10px;
}

/* custom scrollbar 2  */
.custom-scrollbar-text-post {
  overflow: auto;
  transition: overflow 0.5s;
}

.custom-scrollbar-text-post::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar-text-post::-webkit-scrollbar-thumb {
  background: linear-gradient(#6d28d9, green);
  border-radius: 10px;
}

.custom-scrollbar-text-post::-webkit-scrollbar-track {
  background-color: red;
  border-radius: 10px;
}

/* scroll bar end  */

option:nth-child(odd) {
  background-color: rgb(228, 202, 202);
}

.custom-dropdown select {
  text-indent: 5px;
}
.custom-dropdown select option {
  padding: 10px;
  margin: 5px;
  background-color: lightgray;
  border-radius: 5px;
  top: 10;
}

.dini-ilm {
  background-image: url("/dini-ilm");
  background-size: cover;
  background-repeat: no-repeat;
}

::selection {
  color: #000;
  background-color: #ea8b26;
}

.custom-bg {
  background-color: #00769c;
}

.custom-text {
  transition: 0.5s;
  color: #fff;
}
.custom-text:hover {
  color: #25454d;
}

/* notifications */

td {
  border: 1px solid #dddddd;
  padding: 20px;
}

td:hover,
tr:nth-child(even):hover {
  background-color: #dddddd;
}

.messageInput {
  border: 1px solid #000;
  border-radius: 50px;
  outline: none;
  transition: border 0.3s;
}

.messageInput:focus {
  border: 1px solid #000;
  clip-path: polygon(0% 0%, 96% 0, 100% 50%, 96% 100%, 0% 100%);
}

.inlineContent p,
.inlineContent div,
.inlineContent h1,
.inlineContent h2,
.inlineContent h3,
.inlineContent h4,
.inlineContent h5,
.inlineContent h6 {
  display: inline;
}

.btn {
  background-color: #02a7c3;
  transition: 0.5s;
}

.btn:hover {
  background-color: #25454d;
}
